*,
::after,
::before {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

img {
	width: 100%;
}

form {
	display: grid;
	grid-template-columns: 590px;
	margin-top: 50px;
	justify-content: center;
}

.main {
	width: 651px;
	margin: 0 auto;
	padding-bottom: 30px;

	background-image: url(./image/52072b62ba673399f3a85ed231efa94f.png);
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: 0px 3px 16px 9px #888888;
}

.grid-container {
	display: grid;
	grid-template-areas: 'user1 message1 space1' 'space2 message2 user2' 'user3 message3 space3' 'date date date'
		'space4 message4 user4' 'user5 message5 space5';
	row-gap: 20px;
	height: 489px;

	padding: 40px 15px 0 15px;
	overflow: auto;

	border-width: 0px 0px 1px 0px;
	border-color: #dbdbdb;
	border-style: solid;
}

.padding {
	padding: 10px;
}

.user-avatar {
	width: 50px;
	height: 55px;
	clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}

.arrow::after {
	content: "";
	position: absolute;
	border: 20px solid transparent;
	border-top: 15px solid white;
}

.grid-element-8::after,
.grid-element-14::after {
	top: 4px;
	left: -10px;
}

.grid-element-5::after,
.grid-element-11::after {
	top: 5px;
	left: 93px;
}

.grid-element-2,
.grid-element-8,
.grid-element-14 {
	position: relative;
	margin-right: auto;
	background-color: white;
	border-radius: 5px;
}

.grid-element-5,
.grid-element-11 {
	position: relative;
	background-color: white;
	border-radius: 5px;
	margin-left: auto;
}

.grid-element-1 {
	grid-area: user1;
}

.grid-element-2 {
	grid-area: message1;
}

.grid-element-3 {
	grid-area: space1;
}

.grid-element-4 {
	grid-area: space2;
}

.grid-element-5 {
	grid-area: message2;
}

.grid-element-6 {
	margin-left: 11px;
	grid-area: user2;
}

.grid-element-7 {
	grid-area: user3;
}

.grid-element-8 {
	grid-area: message3;
}

.grid-element-date {
	display: flex;
	grid-area: date;
}

.grid-element-date hr {
	height: 0;
	flex-grow: 1;
}

.grid-element-date p {
	margin: 0px 15px 0 15px;
}

.grid-element-9 {
	grid-area: space3;
}

.grid-element-10 {
	grid-area: space4;
}

.grid-element-11 {
	grid-area: message4;
}

.grid-element-12 {
	margin-left: 11px;
	grid-area: user4;
}

.grid-element-13 {
	margin-right: 11px;
	grid-area: user5;
}

.grid-element-14 {
	grid-area: message5;
}

.grid-element-15 {
	grid-area: space5;
}

.message {
	padding: 10px;
	border-radius: 4px;
	resize: none;
}

.message:focus {
	outline: 2px solid red;
}

.submit {
	width: 144px;
	height: 41px;
	margin-top: 20px;
	border-radius: 21px;
	background-color: #0f54b9;
	color: white;
	border: none;
}

.submit:hover {
	background-color: #0d3e88;
	cursor: pointer;
}
